{% extends "1_home.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle">
    <h1 class="text-white fw-bold fs-4">ABOUT US</h1>
    <p class="text-white fs-4">The Website is developed based on AgPest and is only for student work.
    <br></br>
    If you have any questions, please contact us <a href="mailto:yychen8010@gmail.com">(email)</a>.
    <br></br>
    Resource: <a href="https://agpest.co.nz/">AgPest</a></p>
</div>
{% endblock %}