{% extends "1_home.html" %}

{% block title %}Agronomists - Home - | AGRICULTURAL | BIOSECURITY | PEST AND WEED{% endblock %}

{% block content %}

<div class="p-5 bg-light text-black text-center">
    <h1>Hello, {{ agro[2] + ' ' + agro[3] }}!</h1>
    <p>Welcome to our AGRICULTURAL and BIOSECURITY Platform</p>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Navi -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('agro_home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('agro_pest') }}">Pests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('agro_weed') }}">Weeds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('agro_profile') }}">Profile</a>
            </li>
        </ul>
    </div>
</nav>

<section class="container">
    <div class="row">
        <div class="col-md-4 mb-5 mt-5">
            <div class="card">
                <div class="card-body">
                    <a href="https://agpest.co.nz/">
                        <h5 class="card-title">Crop Management</h5>
                    </a>
                    <p class="card-text">External link learn how to manage your crops effectively using our comprehensive resources.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5 mt-5">
            <div class="card">
                <div class="card-body">
                    <a href="https://agpest.co.nz/">
                        <h5 class="card-title">Pest Control</h5>
                    </a>
                    <p class="card-text">External link Identify and control pests that can harm your crops using our comprehensive resources.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5 mt-5">
            <div class="card">
                <div class="card-body">
                    <a href="https://www.metservice.com/towns-cities/locations/auckland">
                        <h5 class="card-title">Weather Forecast</h5>
                    </a>
                    <p class="card-text">External link Stay updated with the latest weather forecasts to plan your agricultural activities.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="container-fluid p-5 bg-light text-black text-center fixed-bottom">
    <h5>AGRICULTURAL | BIOSECURITY | PEST AND WEED</h5>
    </footer>


{% endblock %}