{% extends "1_home.html" %}

{% block title %}REGISTER - | AGRICULTURAL | BIOSECURITY | PEST AND WEED{% endblock %}

{% block content %}
	<body>
		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
				
				<label for="first_name">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="first_name" placeholder="First Name" id="first_name" 
				required pattern="[A-Za-z]+"  title="Please enter characters only">

				<label for="last_name">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="last_name" placeholder="Last Name" id="last_name" 
				required pattern="[A-Za-z]+"  title="Please enter characters only">

				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" 
				required pattern="(?=.*[A-Za-z])(?=.*\d)"  title="Please enter characters with number, e.g, lili23">

				<label for="address">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="address" placeholder="Address" id="address" 
				required title="Please enter your address">

				<label for="phone_number">
					<i class="fas fa-user"></i>
				</label>
    			<input type="text" name="phone_number" placeholder="Phone Number" id="phone_number" 
				required pattern="\d{3}-\d{7,8}" title="Please enter your Phone Number, e.g., 123-4567890">
				
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" 
				required pattern="(?=.*[A-Za-z])(?=.*\d).{8,}"
				title="Please enter at least 8 characters long and one of character">

				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" 
				required title="Please enter your address">

				<div class="msg">{{ msg }}</div>

				<input type="submit" value="Register">
			</form>
		</div>
	</body>
{% endblock %}