{% extends "1_home.html" %}

{% block title %}Administrator - View/Edit Guides - | AGRICULTURAL | BIOSECURITY | PEST AND WEED{% endblock %}

{% block content %}

<div class="p-5 bg-light text-black text-center">
    <h1>Hello, {{ admin[2] + ' ' + admin[3] }}!</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Navigation Links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-3">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('admin_view_guides') }}">View/Edit Guides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_m_agro') }}">View/Edit Agronomists Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_m_staff') }}">View/Edit Staff Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_profile') }}">Personal Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-sm mb-5">
    <form action="{{ url_for('admin_add_new') }}" method="GET">
        <button type="submit" class="btn btn-primary mb-5">Add New Species</button>
    </form>

    <div class="container mt-5">
        <h1>Pests</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Guide Number</th>
                    <th>Item Type</th>
                    <th>Scientific Name</th>
                    <th>Common Name</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for guide in pest_guides %}
                <tr>
                    <td>{{ guide[0] }}</td>
                    <td>{{ guide[1] }}</td>
                    <td>{{ guide[2] }}</td>
                    <td>{{ guide[3] }}</td>
                    <td>
                        <a href="{{ url_for('admin_view_guides_list', item_type=guide[1], guide_id=guide[0]) }}" class="btn btn-primary btn-sm">View</a>
                    </td>
                    <td>
                        <form action="{{ url_for('admin_edit_guide', guide_id=guide[0]) }}" method="GET">
                            <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                        </form>                
                    </td>
                    <td>
                        <form action="{{ url_for('delete_guide', guide_id=guide[0]) }}" method="POST">
                            <input type="hidden" name="guide_id" value="{{ guide[0] }}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>                      
                    </td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        


        <div class="container mt-5">
            <h1>Weeds</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Guide Number</th>
                        <th>Item Type</th>
                        <th>Scientific Name</th>
                        <th>Common Name</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for guide in weed_guides %}
                    <tr>
                        <td>{{ guide[0] }}</td>
                        <td>{{ guide[1] }}</td>
                        <td>{{ guide[2] }}</td>
                        <td>{{ guide[3] }}</td>
                        <td>
                            <a href="{{ url_for('admin_view_guides_list', item_type=guide[1], guide_id=guide[0]) }}" class="btn btn-primary btn-sm">View</a>
                        </td>
                        <td>
                            <form action="{{ url_for('admin_edit_guide', guide_id=guide[0]) }}" method="GET">
                                <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                            </form>                       
                         </td>
                        <td>
                            <form action="{{ url_for('delete_guide', guide_id=guide[0]) }}" method="POST">
                                <input type="hidden" name="guide_id" value="{{ guide[0] }}">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </tbody>
        </table>
    </div>

<footer class="container-fluid p-5 bg-light text-black text-center mt-5">
    <h5>AGRICULTURAL | BIOSECURITY | PEST AND WEED</h5>
</footer>

{% endblock %}
